@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --body-padding-top: 80px;

    /* Colors */

    /* bg color */
    --dark-bg: #18181B;
    /* --dark-bg: #0d1117; */ /*victory's color*/
    --dimmer-dark-bg: #1A1A1E;
    --notification-count-bg: #BE2D2D;
    --card-bg: #1D1D29;
    --card-bg-lighter: #222230;
    --card-bg-lighter2: #222226;
    --primary-button: #1F1F56;
    --primary-button-hover: #29297F;
    --primary-button-active: #19194D;
    --secondary-button: #242429;
    --secondary-button-hover: #303036;
    --meta-tag-color: #303040;
    --active-tab-bg: #1F1F31;
    --received-message: #213370;
    --sent-message: #1A295B;

    --code-viewer-container: #161b22;
    --code-upper-bg: #0d1117;
    
    /* font color */
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #9CA3AF;
    --active-text-color: #5B5EDE;
    --channel-hash-color: #806346;
    --mid-dim-font-color: #C4C4C4;
    
    --code-function: #AEC4AB;
    --code-string: #E06666;
    --code-keyword: #4255C2;
    
    /* border color */
    --main-border-color: hsla(0, 3%, 90%, .13);
    --popup-border: #EFEEEE47; /* opacity supposed to be - 28%*/

    /* shadow color */
    --card-shadow-color: #8B4A4A;
    --popup-shadow: #E1A6A6; /* opacity supposed to be - 15%*/

    /* Font */

    /* Font family */
    --main-font-family: "Inter", sans-serif;

    /* Font sizes */
    --header1-size: 32px;
    --header2-size: 24px;
    --paragraph1-size: 20px;
    --paragraph2-size: 16px;
    --paragraph-mini-size: 14px;
}

[data-theme="light"] {
    --dark-bg: #FFFFFF;
    --dimmer-dark-bg: #F3F4F6;
    --card-bg: #FFFFFF;
    --card-bg-lighter: #F9FAFB;
    --card-bg-lighter2: #E5E7EB;
    
    --primary-text-color: #111827;
    --secondary-text-color: #4B5563;
    --mid-dim-font-color: #6B7280;
    --meta-tag-color: #E5E7EB;
    
    --main-border-color: #E5E7EB;
    --popup-border: rgba(0, 0, 0, 0.1);
    
    --secondary-button: #F3F4F6;
    --secondary-button-hover: #E5E7EB;
    
    --received-message: #E0E7FF;
    --sent-message: #DBEAFE;
    
    --active-tab-bg: #F3F4F6;
}